* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.newContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


div .box {
  border: solid black 1px;
  aspect-ratio: 1 / 1;
  flex-basis: 6%;
  margin: auto;

}

div .newBox {
  border: solid black 1px;
  aspect-ratio: 1 / 1;
  flex-basis: 25%;
  margin: auto;
}

.coloring {
  background-color: aqua;
}



.newGrid {
  font-size: 36px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: mistyrose;
  margin-bottom: 15px;
}



