body {
  margin: 0px;
  font-family: 'poppins';
  color: white;
  background-color: rgb(169, 172, 208);
  display: flex;
  justify-content: center;
  
}

button {
  margin: 10px;
  margin-bottom: -10px;
  /* border-radius: 100%; */
  font-size: 20px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 800;
  background-color: rgb(5, 30, 39);
  color: mistyrose;
  

}

.random {
  margin-right: 80px;
}


.title {
  font-size: 50px;
  box-shadow: 20px rgb(216, 179, 179);
  font-family: 'poppins';
  font-style: italic;
 
  
}



.board {

  width: 620px;
  height: 620px;
  border: solid #21031e 5px;
  display: grid;
 
  
} 

.colorToggle {
  
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-size: 24px;
  font-weight: 800;
  color: mistyrose;

}

.setSize {
  
  margin-left: 180px;
  font-size: 30px;
  margin-bottom: 20px;
}

input {
  width: 330px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 800;
  font-size: 30px;
  background-color: mistyrose;
 
}






