body {
  font-family: 'poppins';
  color: white;
  background-image: url(/images/wood.jpeg);
  display: flex;
  justify-content: center;
  
}

button {
  
  border-radius: 50%;
  font-size: 25px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 800;
  background-color: rgb(231, 211, 138);
}

.black {
  margin-left: 55px;
}


h1 {
  font-size: 75px;
  color: rgb(231, 211, 138);
  font-family:'Courier New', Courier, monospace;
  margin-bottom: -10px;
  
}

.board {

  width: 620px;
  height: 620px;
  border: solid mistyrose 5px;
  display: grid;
  
} 

.colorToggle {
  margin-bottom: 10px;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: 800;

}

.setSize {
  
  margin-left: 180px;
  font-size: 30px;
}

input {
  width: 65px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 800;
  font-size: 30px;
  background-color: mistyrose;
 
}


